-----BEGIN CERTIFICATE-----
MIIBszCCAVmgAwIBAgIUDummyExampleCertificateDoNotUseInProductionwCgYI
KoZIzj0EAwIwEjEQMA4GA1UEAwwHZXhhbXBsZTAeFw0yNjAxMDEwMDAwMDBaFw0y
NzAxMDEwMDAwMDBaMBIxEDAOBgNVBAMMB2V4YW1wbGUwWTATBgcqhkjOPQIBBggq
hkjOPQMBBwNCAAQDummyExampleCertificateMaterialForTerraformExampleOnly
NotARealCertificateDoNotUseInProduction0000000000000000000000000000
MAoGCCqGSM49BAMCA0gAMEUCIQDummyExampleCertificateDoNotUseInProductn
AiEADummyExampleCertificateDoNotUseInProductionOnlyForValidation000=
-----END CERTIFICATE-----
